#about {
  padding: 6% 0 0 0;
  height: 110%;
}
#about_bg {
  position: absolute;
  width: 100vw;
  height: calc(100vh + 10px);
  margin-top: -100px;
  background: url("../img/nature/nature_104.jpg");
  background-size: cover;
  filter: grayscale(0.5) brightness(1);
  z-index: 1;
}
p {
  margin-top: 1%;
  margin-bottom: -1%;
}

#wrapper {
  display: flex;
  position: relative;
}

#photo_of_team {
  margin-left: 5%;
  margin-top: 0;
  width: 45vw;
  height: 50vh;
  position: relative;
}

.photo_of_team_on_about {
  height: 10vw;


  cursor: pointer;
  width: 10vw;
  background-size: contain;
  position: relative;
  border-radius: 50vh;
  z-index: 10;
  border: 2px dotted #ffffff00;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0);
  background-repeat: no-repeat;
}
#photo_of_man1 {
  top: -0.5em;
  left: 60%;
  background-image: url("../img/photo_about/man1.png");
}
#photo_of_man2 {
  left: 10%;
  top: -4.5em;
  background-image: url("../img/photo_about/man2.png");
}
#photo_of_women1 {
  top: -6em;
  left: 29%;
  background-image: url("../img/photo_about/women1.png");
}
#photo_of_women2 {
  top: -1.2em;
  left: 15%;
  background-image: url("../img/photo_about/women2.png");
}
#photo_of_studio {
  height: 23.8em;
  width: 23.7em;
  position: relative;
  top: -25.5em;
  left: 45%;
  background-image: url("../img/photo_about/studio.png");
  border: 2px dotted #fff;
  box-shadow: 12px 12px 12px 12px rgba(0, 0, 0, 0.2);
}

.class_of_text_about_person {
  width: 25%;
  font-weight: 50;
  line-height: 1.5;
  height: 40vw !important ;
  font-family: Comfortaa;
  font-size: 24px;
  color: rgb(255, 255, 255);
  text-align: left;
  height: max-content;
  position: absolute;
  margin-left: 59vw;
  padding: 2%;
  text-shadow: 3px 3px 6px black, 0 0 1em black;
  background-color: #00000010;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  border-radius: 50px;
  z-index: 10;
}
#text_about {
  display: block;
}
#text_about_man1 {
  display: none;
}
#text_about_man2 {
  display: none;
}
#text_about_women1 {
  display: none;
}
#text_about_women2 {
  display: none;
}
#H1_text_about{
  margin: 0;
}