.twobar {
  cursor: pointer;
  margin-top: 7px;
  margin-left: 7px;
}

.twobar .bar {
  width: 70%;
  height: 10px;
  background: rgb(255, 255, 255);
  margin-bottom: 5px;
  transition: all 0.5s ease;
}

.twobar .bar:nth-child(1) {
  transform-origin: 50%;
}

.twobar .bar:nth-child(2) {
  transform-origin: 50%;
}

.twobar.cross .bar:nth-child(1) {
  transform: translateY(75%) rotate(45deg);
}

.twobar.cross .bar:nth-child(2) {
  transform: translateY(-75%) rotate(-45deg);
}

.twobar.cross .bar:nth-child(3) {
  opacity: 0;
}

.twobar.arrow .bar:nth-child(1) {
  transform: scaleX(0.5) translateY(50%) rotate(45deg);
  transform: translateY(85%) rotate(45deg) scaleX(0.67);
}

.twobar.arrow .bar:nth-child(2) {
  transform: scaleX(0.5) translateY(50%) rotate(-45deg);
  transform: translateY(15%) rotate(-45deg) scaleX(0.67);
}

.twobar.arrow .bar:nth-child(3) {
  opacity: 0;
  transform: translateX(-25%) translateY(-175%) scaleX(0.75);
}

#main_head {
  display: flex;
  justify-content: right;
  position: relative;
  z-index: -1;
}

#hat_head {
  width: 40px;
  height: 40px;
  position: fixed;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #252525;
  z-index: -1;
  opacity: 0.7;
  right: 10px;
  top: 10px;
}

.hat_a {
  color: aliceblue;
  text-decoration: none;
}

.hat_a:visited {
  color: aliceblue;
}

#hat_h2 {
  font-family: "Cocotte";
  font-size: 200%;
  margin: 20px;
  margin-bottom: 10px;
}

#hat {
  display: none;
  position: fixed;
  background-color: #252525;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
  width: 200px;
  opacity: 0.7;
  right: 50px;
  top: 10px;
}
