#main {
  font-family: ;
  text-shadow: 1px 1px 2px black, 0 0 1em rgb(167, 184, 153);

  height: 100%;
  display: flex;
  justify-content: center;
  background-color: #000;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}

#mainbg {
  width: 100%;
  z-index: -1;
  height: 100%;
  position: absolute;
  background: linear-gradient(0deg, #EECFBA, #C5DDE800);
  right: 0;
  bottom: 0;
  background-size: cover;
  background-origin: content-box;
  background-position: right bottom;
}

#portfolio {
  background-image: url(../img/bg2.jpg);
  padding: 6% 0 0 0;
  height: 110%;
}

#section3 {
  background-image: url(../img/bg3.jpg);
  padding: 6% 0 0 0;
}

#mainh1 {
  color: aliceblue;
  font-size: 70px;
  display: none;
  margin-top: 10%;
  text-align: center;
}

#mainh2 {
  color: aliceblue;
  font-size: 50px;
  display: none;  
}

#icons{
  position: absolute;
  top: 40vh;
  
  width:100%;
  margin: 5%;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  justify-content:center;
}

.icon{
  background-color: #00000090;
  border-radius: 10px;
  height: 35vh;
  width: 20vw;
}
#icon_portfolio{  
  
}

#icon_about{
  margin-left: 5vw;
  
}

#icon_order{
  margin-left: 5vw;
  
}





