html {
  height: 100%;
  user-select:none;
}

body {
  height: 100%;
}

@font-face {
  font-family: "Disney";
  src: url("../fonts/Disney/DisneyPark.woff2") format("woff2"),
    url("../fonts/Disney/DisneyPark.ttf") format("truetype"),
    url("../fonts/Disney/DisneyPark.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Cocotte";
  src: url("../fonts/Cocotte/Cocotte.woff2") format("woff2"),
    url("../fonts/Cocotte/Cocotte.ttf") format("truetype"),
    url("../fonts/Cocotte/Cocotte.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inform";
  src: url("../fonts/Inform/Inform.woff2") format("woff2"),
    url("../fonts/Inform/Inform.ttf") format("truetype"),
    url("../fonts/Inform/Inform.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Comfortaa";
  src: url("../fonts/Comfortaa/Comfortaa-Regular.woff2") format("woff2"),
    url("../fonts/Comfortaa/Comfortaa-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/Comfortaa/Comfortaa-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Baloo";
  src: url("../fonts/Baloo/BalooBhaijaan2-Regular.woff2") format("woff2"),
    url("../fonts/Baloo/BalooBhaijaan2-VariableFont_wght.ttf") format("truetype"),
    url("../fonts/Baloo/BalooBhaijaan2-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

#pp-nav {
  display: none;
}

.section {
  text-align: center;
  background-size: cover;
  display: none;
}

#vinet_bottom{
  position: absolute;
  top: 87.5vh;
  height: 12.5vh;
  width: 100%;
  background: linear-gradient(0deg, #000000, #00000000);
}

#vinet_top{
  position: absolute;
  height: 12.5vh;
  width: 100%;
  background: linear-gradient(180deg, #000000, #00000000);
}

#black_bg{
  width:100vw;
  height: 100vh;
  background-color: #000000;
  opacity:0.8;
  display: none;
  position:fixed;
  z-index:100000;
}