html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: white;
    color: black;
    Position: absolute;
}

.flex {
    display: flex;
    background: red;
    width: 90vw;
    height: 80vh;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-left: 2vw;
    margin-top: 10vh;
}

#h2koment {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    margin-top: 10vh;
}

#h1koment {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    margin-left: 30vw;
    margin-top: 3vh;
}

.image {
    margin-top: 10vh;
    position: absolute;
    display: flex;
    background-image: url(simple.jpg);
    width: 35vw;
    height: 35vh;
}

.flexmini {
    margin-top: 5vh;
    margin-left: 1vw;
    position: absolute;
    display: flex;
    width: 80vw;
    height: 40vh;
    background-repeat: no-repeat;
}