html {
    margin: 0;
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: white;
    color: black;
    Position: absolute;
}

.flex {
    display: flex;
    background: red;
    width: 90vw;
    height: 80vh;
    background-repeat: no-repeat;
    border-radius: 10px;
    margin-left: 2vw;
    margin-top: 10vh;
}

#h2koment {
    position: absolute;
    font-family: 'Times New Roman', Times, serif;
    font-size: 100%;
    margin-top: 10vh;
    float: left;
}

#h1koment {
    position: relative;
    font-family: 'Times New Roman', Times, serif;
    font-size: 300%;
    margin-left: 30vw;
    margin-top: 3vh;
}

#image {
    position: relative;
    margin-top: 10vh;
    background-image: url(simple.jpg);
    width: 50vh;
    height: 50vh;
    float: left;
}